extends layout

block content
  .container
    .columns
      .column.col-12
        div.hero.hero-sm.bg-primary
          div.hero-body
            h1 Plants
    .columns
      .column.col-12
        .table-wrapper
          table.table.table-striped.table-hover
            thead
              tr
                th Name
                th Last watered
                th Last repotted
                th Last added fertilizer
                th Actions
            tbody
              each plant in plants
                tr
                  td= plant.get('name') || 'Unnamed'
                  td 01/01/2000
                  td 01/01/2000
                  td 01/01/2000
                  td +


