extends layout

block content
  .container
    .columns
      .column.col-12
        h1= title
        p Welcome to #{title}
    .divider
    .columns
      .column.col-12
        div.hero.hero-sm.bg-primary
          div.hero-body
            h1 Log in
    .columns
      .column.col-12
        .login-form-wrapper
          .form-group
          label.form-label(for='username-input') Username
          input.form-input(id="username-input", type="text", name="username", placeholder="Username")
          label.form-label(for='pwd-input') Password
          input.form-input(id="pwd-input", type="password", name="pwd", placeholder="Password")
          button.btn.btn-primary(id="login-btn", onclick="login") Log in
  
