doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/spectre.min.css')
  body
  header.navbar
    section.navbar-section
      a.navbar-brand.mr-2(href='/')= title
      //a.btn.btn-link(href='...') Link
      a.btn.btn-link(href='https://github.com/Meknassih/plantur') Github
    section.navbar-section
      .input-group.input-inline
        input.form-input(type='text', placeholder='search')
        button.btn.btn-primary.input-group-btn Search
  block content
