.login-form-wrapper {
    margin: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#username-input, #pwd-input {
    max-width: 320px;
}

#login-btn {
    margin: 16px 0;
}

.container {
    margin-top: 32px;
}